@page
@model DatabaseConnection1.Pages.Students.ViewModel
@{
}


<h1>:: View Student Page ::</h1>
<br />
<br />

<div>
    <p>Select Level : </p>
   <form>
       <select type="text" asp-for="Level" style="width: 50px;">
           <option>All</option>
           @foreach(var item in Model.LevelItems)
           {
               <option>@item</option>

           }
       </select>

       <input type="submit" value="Filter" />
   </form>
</div>
<br />

<div>
    <table class="table table-active">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.StudentRec[0].StudentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentRec[0].StudentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentRec[0].StudentLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentRec[0].StudentCourse)
                </th>
                <th>
                   Actions
                </th>
            </tr>
        </thead>
        

        @for (int i = 0; i < Model.StudentRec.Count; i++)
        {
            <tr>
                <td>@Model.StudentRec[i].StudentID</td>
                <td>@Model.StudentRec[i].StudentName</td>
                <td>@Model.StudentRec[i].StudentLevel</td>
                <td>@Model.StudentRec[i].StudentCourse</td>
                <td>
                <a asp-page="/Students/Update" asp-route-id="@Model.StudentRec[i].Id">Update</a>
                <a asp-page="/Students/Delete" asp-route-id="@Model.StudentRec[i].Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>